@using ShortLinks.Core;
@model LinkDto

@{
    ViewData["Title"] = "UpdateLink";
}

<h1>Update link</h1>

<form asp-controller="Link" asp-action="UpdateLink" method="post" enctype="multipart/form-data">
    <div class="mb-3 col-4">
        <label for="long-url" class="form-label">Long URL:</label>
        <input asp-for="LongUrl" class="form-control" id="long-url" required>
        <span asp-validation-for="LongUrl" class="text-danger"></span>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <label for="short-url" class="form-label">Short URL:</label>
                    <input asp-for="ShortUrl" class="form-control" id="short-url" required>
                    <span asp-validation-for="ShortUrl" class="text-danger"></span>
                </td>
                <td valign="bottom">
                    <a id="generate-short-url" class="btn btn-primary" href="~/link/generateShortUrl">Generate new short url</a>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>

@section scripts {
    <script>
        $(function () {
            $('#generate-short-url').click(function (event) {
                event.preventDefault();
                $.get($(this).attr('href'), function (data) {
                    $('#short-url').val(data);
                });
            });
        });
    </script>
}